@model IEnumerable<RezervasyonMvc.Model.Models.Rezervasyon>
<div class="container">
    <div class="border p-4 bg-white">
        <div class="row">
            <div class="col-9">
                <h2 class="text-info">Rezervasyon Listesi</h2>
            </div>
            <div class="col-3 text-left">
                <a asp-action="Update_Insert" class="btn btn-info form-control">Yeni Oluştur</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-left">
            </div>
        </div>
        <br />
        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th></th>
                        <th>Id</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Giriş</th>
                        <th>Çikis</th>
                        <th>Oda Sayısı</th>
                        <th>KişiSayisi</th>
                        <th>T.Tutar</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-primary text-white" asp-action="Update_Insert"
                           asp-route-Id="@item.Id">Düzenle</a>
                                <a class="btn btn-danger text-white" asp-action="Sil"
                           asp-route-Id="@item.Id">Sil</a>
                            </td>
                            <td>@item.Id</td>
                            <td>@item.Musteri.MusteriAdi</td>
                            <td>@item.Musteri.MusteriSoyadi</td>
                            <td>@item.GrisTarihi.ToShortDateString()</td>
                            <td>@item.CikisTarihi.ToShortDateString()</td>
                            <td>@item.OdaSayisi</td>
                            <td>@item.KisiSayisi</td>
                            <td>@item.RezToplamTutar</td>
                        </tr>

                    }

                </table>
            }
            else
            {
                <p>Listelenecek Herhangi Bir Oda Bulunmadı</p>
            }
        </div>
    </div>
</div>



